.custom-navbar a::after {
  background-color: #fff !important;
}
.top-nav-collapse a {
  color: #454545 !important;
}
.top-nav-collapse a::after {
  background-color: #000000 !important;
}
.logo {
  width: 78px;
  height: 93px;
  position: absolute;
  top: 0;
}
