#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
.login-container {
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
}
.login-container .button {
  margin-top: 20px;
  width: 100%;
}
.login-container .button button {
  width: 100%;
}
.index-container .header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
}
.index-container .header .user-icon {
  float: right;
  padding: 9px;
}
.index-container .header .logo {
  width: 70px;
  margin-left: 27px;
}
.index-container .body {
  margin-top: 60px;
  display: flex;
  width: 100%;
}
.index-container .body .left {
  width: 40%;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
}
.index-container .body .left ul {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
}
.index-container .body .left ul li {
  padding-left: 40px;
}
.index-container .body .left .url-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
.index-container .body .left .url-item .controls {
  display: none;
}
.index-container .body .left .url-item .controls i {
  cursor: pointer;
  transition: all .4s ease;
  user-select: none;
  margin-rignt: 10px;
}
.index-container .body .left .url-item .controls i:hover {
  transform: scale(1.1);
}
.index-container .body .left .url-item:hover .controls {
  display: block;
}
.index-container .body .right {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-container .body .right .inputs {
  margin-top: 150px;
}
.index-container ul {
  margin: 0;
}
.index-container ul li {
  text-decoration: none;
  list-style: none;
}
