#home .container {
  width: 100%;
}
.custom-navbar a::after {
  background-color: #fff !important;
}
.top-nav-collapse a {
  color: #454545 !important;
}
.top-nav-collapse a::after {
  background-color: #000000 !important;
}
.logo {
  width: 78px;
  position: relative;
  top: 0;
}
.logoes {
  display: flex;
  flex-wrap: wrap;
}
.logoes .cooperate-logo {
  position: relative;
  height: 80px;
  width: 180px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #f3f3f3;
}
.logoes .cooperate-logo img {
  width: 80%;
}
.card-container {
  position: relative;
}
.card-container .card-radio {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
}
.card {
  width: 100%;
  height: 450px;
  border-radius: 4px;
  overflow: hidden;
  transition: all .4s ease;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
.card .title {
  height: 60%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(20deg, #6fe3e7, #4fb8d9 25%, #5648c1);
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  padding-top: 70px;
  transition: all .4s ease;
  overflow: hidden;
}
.card .title .apoint {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.card .title .marker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.19);
}
.card .title span {
  width: auto;
  height: 21px;
  z-index: 10;
}
.card .title:hover {
  padding-top: 40px;
}
.card .title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
ul li {
  list-style: none;
  float: left;
}
#second .tab {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}
#second .tabs {
  display: table;
  position: relative;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  width: 100%;
}
#second .tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
#second .tabs a {
  border-bottom: 1px solid #fff;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#second .tabs_item {
  display: none;
  padding: 30px 0;
}
#second .tabs_item img {
  width: 100%;
  float: left;
  margin-right: 30px;
}
#second .tabs_item:first-child {
  display: block;
}
#second .current a {
  color: #fff;
  background: #3186B2;
}
.tab .tab2-middle-content {
  margin-bottom: 10px;
}
.tab .tab2-middle-content p {
  margin-bottom: 4px;
  margin-left: 20px;
}
.tab .tab2-middle-content p span {
  margin-right: 10px;
}
.tab .tab2-bottom-content {
  margin-left: 55px;
}
.tab .tab2-bottom-content table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  font-size: 13px;
  line-height: 18px;
}
.tab .tab2-bottom-content table tr {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  font-size: 13px;
  line-height: 18px;
}
.tab .tab2-bottom-content table tr td {
  padding: 8px 16px;
  border: 1px solid #e6e6e6;
  font-family: Roboto Mono,monospace;
  text-align: left;
  line-height: 20px;
  font-weight: 400;
  vertical-align: middle;
}
.my-btn {
  display: inline-block;
  padding: 4px 22px;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #171b1f;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
}
.my-btn:hover {
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
}
.btns {
  text-align: right;
  margin-top: 70px;
}
.download-btn {
  background: #0f85cc;
  color: #fff;
}
.navbar-header {
  position: relative;
}
@media (max-width: 768px) {
  .iframe {
    width: 90vw;
  }
  .custom-navbar .nav li a {
    color: #454545 !important;
  }
  .navbar-header > a {
    padding: 0px;
    padding-left: 10px;
  }
  .tab ul li {
    text-align: center;
  }
}
.navbar {
  padding: 0 !important;
}
.navbar a {
  padding: 0;
}
.navbar .container {
  position: relative;
}
#footer p {
  color: #fff;
}
#footer .foot-first-name {
  margin-top: 20px;
  overflow: hidden;
  padding-left: 3em;
}
#footer .foot-first-name p {
  display: flex;
}
#footer .foot-first-name span {
  text-indent: 1em;
}
#footer .foot-second-name {
  margin-top: 20px;
  overflow: hidden;
}
#footer .footer-map {
  padding: 0;
}
#footer .footer-map img {
  float: right;
}
#marker {
  background-image: url('../images/markers_001.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 35px;
  cursor: pointer;
}
.nav {
  margin-top: 12px;
}
.articals {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
}
.articals ul {
  height: 100%;
  padding: 0;
}
.articals li {
  position: relative;
  display: flex;
  width: 13rem;
  border-radius: 3px;
  padding: 4px;
  transition: all .4s ease;
}
.articals li a {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #f3f3f3;
}
.articals li:hover {
  transform: scale(1.1);
}
.popover {
  top: 25.5px !important;
}
@media (max-width: 768px) {
  .popover {
    top: 50% !important;
  }
}
